<!-- Navigation -->
<nav class="navbar">
    <div class="nav-logo">
        <a href="/">
            <span class="logo-text">M</span>
            <span class="logo-dot"></span>
        </a>
    </div>
    <ul class="nav-links">
        <li><a href="/#home" class="nav-link">Home</a></li>
        <li><a href="/#about" class="nav-link">About</a></li>
        <li><a href="/#life" class="nav-link">Life</a></li>
        <li><a href="/blog/" class="nav-link{% if page.url contains '/blog/' %} active{% endif %}">Blog</a></li>
        <li><a href="/#contact" class="nav-link">Connect</a></li>
    </ul>
    <div class="nav-toggle" id="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>
